<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/recipe_feed.css" />
    <script type="module" src="/scripts/shared/index.js"></script>
    <script type="module" src="/scripts/protected/comment.js" defer></script>
    <title>Share your comment</title>
</head>

<body>
    <!-- Nav bar will be rendered dynamically -->
    <div class="recipe_comment_container" id="recipeCommentContainer">
        <div class="recipe_not_found hidden" id="recipeNotFound">
            Sorry, unable to load the recipe. Please try again.
        </div>
        <!-- The selected recipe and comments will be rendered here -->
        <div class="recipe_comment_feed" id="recipeCommentFeed"></div>
        <div class="recipe_comment_section" id="recipeCommentSection">
            <h2>Comments</h2>
            <div class="recipe_add_comment">
                <textarea id="commentInput" placeholder="Write a comment..." rows="4"></textarea>
                <button id="commentBtn" class="recipe_comment_btn recipe_btn">Comment</button>
            </div>
            <div id="recipeCommentsList" class="recipe_comment_list">
                <!-- Comments will be rendered here -->
            </div>
        </div>
    </div>
</body>

</html>