<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/recipe_feed.css" />
    <script type="module" src="/scripts/shared/index.js"></script>
    <script type="module" src="/scripts/protected/recipe_feed.js" defer></script>
    <title>Feed</title>
  </head>
  <body>
    <!-- Nav bar will be rendered dynamically -->
    <div class="recipe_feed_container" id="recipeFeedContainer">
        <!-- All the recipes will be rendered here -->
    </div>
  </body>
</html>
