<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/auth_page.css" />
    <script type="module" src="/scripts/shared/index.js"></script>
    <script type="module" src="/scripts/login.js" defer></script>
    <title>Login</title>
  </head>
  <body>
    <!-- Nav bar will be rendered dynamically -->
    <div class="login_container">
      <div class="login_header">
        <h3>Login</h3>
      </div>

      <form class="login_form common_form" id="loginForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <br />
        <button type="submit" id="submitBtn">Login</button>
      </form>
    </div>
  </body>
</html>
