<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/recipe_feed.css" />
    <script type="module" src="/scripts/recipe_feed.js" defer></script>
    <title>Feed</title>
  </head>
  <body>
    <div class="navbar">
      <nav>
        <ul>
          <li><img class="logo" src="/assets/images/logo.jpeg" /></li>
          <li><a href="/components/post_recipe.html">Post a recipe</a></li>
          <li><a href="/components/my_recipes.html">My recipes</a></li>
          <li><a href="#" id="logout_anchor">Logout</a></li>
        </ul>
      </nav>
    </div>
    <div class="recipe_feed_container" id="recipeFeedContainer">
        <!-- All the recipes will be rendered here -->
    </div>
  </body>
</html>
